ul li {
  list-style: none;
}



.logo img {
  width: 50px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
}

.mat-toolbar.mat-primary{
  background-color: black;
}