<!-- Table Section -->

<!-- Table Input -->
<form class="form-inline" action="/action_page.php">
  <label for="pcr_content">PCR Content:</label>
  <input type="number" id="pcr_content" placeholder="Enter PCR Content" name="pcr_content">
  <label for="pcr_mvr">PCR MVR:</label>
  <input type="number" id="pcr_mvr" placeholder="Enter PCR MVR" name="pcr_mvr">
  <label>
    <input type="checkbox" name="preview"> Preview
  </label>
  <button type="submit">Submit</button>
</form>


<br>
<p>All Predicted Properties</p>
<br>
<!-- Table Checkbox -->
<div fxLayout.xs="column" fxLayout="row" fxLayoutGap="10px">
  <mat-checkbox [checked]="columnsToShow['tensile_modulus']" (change)="toggleColumn('tensile_modulus')">
    tensile_modulus
  </mat-checkbox>
  <mat-checkbox [checked]="columnsToShow['yeild']" (change)="toggleColumn('yeild')">
    yeild
  </mat-checkbox>
  <mat-checkbox [checked]="columnsToShow['break']" (change)="toggleColumn('break')">
    break
  </mat-checkbox>
  <mat-checkbox [checked]="columnsToShow['ave1']" (change)="toggleColumn('ave1')">
    ave1
  </mat-checkbox>
  <mat-checkbox [checked]="columnsToShow['ave2']" (change)="toggleColumn('ave2')">
    ave2
  </mat-checkbox>
  <mat-checkbox [checked]="columnsToShow['vicat']" (change)="toggleColumn('vicat')">
    vicat
  </mat-checkbox>
  <mat-checkbox [checked]="columnsToShow['mvr260c']" (change)="toggleColumn('mvr260c')">
    mvr260c
  </mat-checkbox>
  <mat-checkbox [checked]="columnsToShow['imvr260c']" (change)="toggleColumn('imvr260c')">
    imvr260c
  </mat-checkbox>
</div>
<br>

<!-- Table  Content-->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>



    <!-- <ng-container matColumnDef="tensile_modulus" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> Tensile modulus </th>
      <td mat-cell *matCellDef="let element"> {{element.tensile_modulus}} </td>
    </ng-container>

    <ng-container matColumnDef="yeild" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> Tesnile strees@yeild </th>
      <td mat-cell *matCellDef="let element"> {{element.yeild}} </td>
    </ng-container>

    <ng-container matColumnDef="break" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> Tensile stress@break </th>
      <td mat-cell *matCellDef="let element"> {{element.break}} </td>
    </ng-container>

    <ng-container matColumnDef="ave1" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> Izod@260C/23C ave </th>
      <td mat-cell *matCellDef="let element"> {{element.ave1}} </td>
    </ng-container>

    <ng-container matColumnDef="ave2" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> Izod@260C/-30C ave </th>
      <td mat-cell *matCellDef="let element"> {{element.ave2}} </td>
    </ng-container>

    <ng-container matColumnDef="vicat" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> Vicat </th>
      <td mat-cell *matCellDef="let element"> {{element.vicat}} </td>
    </ng-container>

    <ng-container matColumnDef="mvr260c" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> MVR@260C </th>
      <td mat-cell *matCellDef="let element"> {{element.mvr260c}} </td>
    </ng-container>

    <ng-container matColumnDef="imvr260c" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> iMVR@260C </th>
      <td mat-cell *matCellDef="let element"> {{element.imvr260c}} </td>
    </ng-container> -->



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>


<br>
<mat-divider></mat-divider>
<br>



<p>Compare with TDS</p>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxFlex="50">
  <p>another chart to be placed here.....</p>
  </div>

  <div fxFlex="50">
    <app-widget-spider></app-widget-spider>
  </div>
</div>


<!-- <mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="New Users" total="12k" percentage="50" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users retention" total="10k" percentage="40" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users engagement" total="8k" percentage="30" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Referral" total="6k" percentage="20" [data]="cards"></app-widget-card>
    </mat-card>
</div> -->



<br>
<br>
<br>